*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color:rgba(24, 24, 24, 1);
    font-family: cursive;
}
.container{
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
#header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}
.header{
    max-width: 1097;
    width: 100%;
    padding: 20px 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 31px;
}

.header__link{
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
}
.header__link::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    bottom: -100%;
    left: 0;
    transition: all .3s ease;
}
.header__link:hover{
    color:rgba(24, 24, 24, 1);
}
.header__link:hover::after{
    bottom: 0;
    z-index: -1;
}
.header__login, .hero__learn{
    display: inline-block;
    text-align: center;
    padding: 13px 46px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.20000000298023224px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
}
.header__login::after, .hero__learn::after, .header__login2::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    bottom: -100%;
    left: 0;
    transition: all .3s ease;
}
.header__login:hover, .hero__learn:hover, .header__login2:hover{
    color:rgba(24, 24, 24, 1);
}
.header__login:hover::after, 
.hero__learn:hover::after,
.header__login2:hover::after{
    bottom: 0;
    z-index: -1;
}
.header__login2{
    display: none;
}
.header__burger{
    display: none;
}
.tablet{
    display: flex;
    gap: 16px;
    align-items: center;
}

.hero{
    margin-top: 35px;
    padding: 50px 0;
    max-width: 709px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.hero__title{
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.hero__text{
    padding: 0 60px;
    padding-top: 27px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.hero__links{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 35px;
}
.hero__try, .hero__learn{
    padding: 20px 40px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.hero__try{
    border: 1px solid rgba(68, 82, 254, 1);
    background: rgba(68, 82, 254, 1);
    transition: all .3s ease;
}
.hero__try:hover{
    background: transparent;
    color: rgba(68, 82, 254, 1);
}

.hero__learn{
    border: 1px solid rgba(255, 255, 255, 1);
}

#hero__wrapper{
    width: 100%;
    position: relative;
}
#hero__wrapper::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 551px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
}
.hero__img{
    width: 100%;
    height: auto;
}

@media (max-width:992px) {
    .header{
        padding: 28px 0;
    }
    .header__burger{
        display: block;
        z-index: 999;
    }
    .header__list{
        display: none;
    }
    #hero__wrapper::before{
    height: 328px;
    }
}
@media (max-width:768px) {
    #hero__wrapper::before{
    height: 228px;
    }
    .header__list{
        padding-top: 100px;
        position: fixed;
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height:100vh;
        height: 100%;
        background-color: rgba(24, 24, 24, 1);
        z-index: 99;
        transition:  all .3s ease;
    }
    .open{
        right: 0;
        transition:  all .3s ease;
    }
}
@media (max-width:576px) {
    .hero__title{
    font-size: 40px;
    line-height: 62px;
    padding: 0 44px;
    }
    .hero__links{
        flex-direction: column;
        align-items: center;
    }
    .hero__links a{
        width: 179px;
    }
    .header__login{
        display: none;
    }
    .header__login2{
        display: inline-block;
        text-align: center;
        padding: 13px 46px;
        border: 1px solid rgba(255, 255, 255, 1);
        box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
        font-size: 17px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.20000000298023224px;
        color: rgba(255, 255, 255, 1);
        position: relative;
        overflow: hidden;
        transition: all .3s ease;
    }
}
.scroll{
    overflow: hidden;
}